// colors
$white:                   #ffffff;
$black:                   #262626;
$border-grey:             #с2с2с2;
$grey:                    #8e8a8a;
$background-grey:         #f5f5f5;
$blue:                    #5065a9;
$red:                     #e6676e;
$dark-blue:               #140A30;

// fonts
$Montserrat:              "montserrat", "Arial", sans-serif;
$Montserrat500:           "montserrat-medium", "Arial", sans-serif;
$Montserrat600:           "montserrat-semibold", "Arial", sans-serif;
$Montserrat700:           "montserrat-bold", "Arial", sans-serif;

// breakpoints
$mobile-min-width:        320px;
$mobile-mid-width:        600px;
$mobile-max-width:        767px;
$tablet-min-width:        768px;
$tablet-mid-width:        900px;
$tablet-max-width:        1023px;
$desktop-min-width:       1024px;
$desktop-max-width:       1600px;

$retina-dppx:             1.5dppx;
